@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss';

.sidebar{
    display: flex;
    box-sizing: border-box;
    height: 100vh;
    max-width: 25%;
    width: 20%;
    background-color: $indigo-800;
    color: whitesmoke;
    flex-direction: column;
    overflow: hidden;

}
.main{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    min-width: 75%;
    width: 80%;
    background-color: $gray-900;
    color: whitesmoke;
}
.wrapper{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
}
nav{
    display: flex;
    flex-direction: column;
}