@import "./imports.scss";

.wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    flex-wrap: nowrap;
    box-sizing: border-box;
}

.border-pop {
    border-inline: 2px solid #000;
    border: 3px solid whitesmoke;
}
.sidebar {
    height: 100%;
    overflow: hidden;
    flex-wrap: nowrap;
    background-color: $indigo-900;
}
.main {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
}
.pip-label {
    width: 7rem;
}
.quick-btn{
    width: 5rem;
}
.discard-label{
    width: 12rem;
}
iframe{
    width: 60vw;
    height: 90vh;
    margin: auto;
}