@import 'bootstrap/scss/_variables.scss';

$primary:       $indigo;
$secondary:     $gray-600;
$success:       $teal;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

@import 'bootstrap/scss/bootstrap-reboot.scss';

